@charset "utf-8";
/* CSS RESET */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, select, textarea, p, blockquote, th, td, hr, button, figure, menu { margin: 0; padding: 0; }
body { font: 12px/22px Tahoma, Arial, \5b8b\4f53, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
a img { border: none; vertical-align: top; }
input, button { font-family: Tahoma, Verdana, Geneva, sans-serif }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
i { font-style: normal; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*OTHER*/
.main_b { width: 100%; background: #FFF; padding: 20px 0; margin-bottom: -20px; }
.hd_title { position: relative; width: 991px; margin: 0 auto; height: 30px; line-height: 30px; font-size: 18px; }
.hd_title p { height: 15px; border-bottom: #CCC solid 1px; }
.hd_title h3 { font-family: "微软雅黑"; position: absolute; left: 50%; margin-left: -105px; width: 210px; top: 0; line-height: 30px; text-align: center; background: #FFF; }
.hd_list { width: 981px; padding: 10px 0 0 10px; margin: 0 auto; overflow: hidden; zoom: 1;  *padding: 10px 0 20px 10px;
}
.hd_list li { float: left; margin: 9px; display: inline; }
.hd_list li img { display: block; }
.ztfooter { width: 980px; overflow: hidden; margin: 0 auto; text-align: center; color: #666; line-height: 18px; padding: 25px 0 10px 0; }
/* WRAP */
.wrap { font-size: 12px; font-family: "微软雅黑", sans-serif; background-color: #062963; max-width: 1920px; margin: 0 auto; }
/* header */
.header-bg { height: 700px; overflow: hidden; position: relative; min-width: 1000px; }
.header-bg .bg1 { background: url(../images/bg_02.jpg) center 0 no-repeat; height: 350px; }
.header-bg .bg2 { background: url(../images/bg_03.jpg) center 0 no-repeat; height: 350px; }
.header { position: absolute; top: 0; left: 50%; margin-left: -500px; height: 700px; width: 1000px; }
/*header-button*/
.h-btn { margin: 520px 0 0 574px; width: 280px; height: 53px; background: url("../images/sprite.png") 0 0; display: block; }
.h-btn:hover { margin: 520px 0 0 574px; width: 280px; height: 53px; background-position: 0 -53px; display: block; }
/*header-p*/
.h-p { margin: 28px 0 0 574px; line-height: 25px; color: #99ccff; font-size: 14px; width: 280px; text-align: center; }
/* step */
.sl, .sr, .sls { float: left; height: 400px; }
/*step-left*/
.sl { width: 350px; padding-left: 10px; position: relative; color: #3366cc; }
.sl-num { position: absolute; top: 0; left: 0; width: 80px; height: 80px; background: url(../images/sprite.png) 0 -106px; }
.sl-icon { width: 80px; height: 80px; background: url(../images/sprite.png) 0 -186px; margin: 32px 0 0 136px; }
.sl-des { text-align: center; margin-top: 10px; margin-bottom: 40px; font-size: 18px; height: 22px; line-height: 22px; }
.sl-title { text-align: center; font-size: 16px; height: 22px; line-height: 22px; }
.sl-text { text-align: center; font-size: 14px; line-height: 24px; height: 112px; width: 310px; margin: 16px auto 0;
 overflow: hidden; }
.sl-btn-box { margin-left: 20px; }
.sl-btn { width: 150px; height: 40px; float: left; margin-right: 10px; }
.sl-btn-text { float: left; width: 130px; height: 36px; background: #3366cc; border-bottom: solid 4px #003399; line-height: 36px; color: #FFF; font-size: 14px; text-align: center; }
.sl-btn:hover .sl-btn-text { background: #3a73e6; }
/*step-left button left border*/
.sl-btn-lb { width: 10px; height: 40px; background: url(../images/sprite.png) 0 -290px; float: left; }
.sl-btn:hover .sl-btn-lb { background-position: 0 -330px; }
/*step-left button right border*/
.sl-btn-rb { width: 10px; height: 40px; background: url(../images/sprite.png) -10px -290px; float: right; }
.sl-btn:hover .sl-btn-rb { background-position: -10px -330px; }
/*step-left shadow*/
.sls { width: 10px; background: url(../images/sprite.png) -370px 0; }
/*step-right*/
.sr { width: 630px; background-color: #3366cc; }
.step1, .step2, .step3 { height: 400px; width: 1000px; box-shadow: 0 0 2px 0 #000; }
/* step1 */
.step1-bg { margin-bottom: 60px; height: 400px; position: relative; min-width: 1000px; }
.step1-bg .bg1 { background: url(../images/bg_04.jpg) center 0 no-repeat; height: 60px; }
.step1 { position: absolute; top: 0; left: 50%; margin-left: -500px; }
.step1 .sl { background-color: #cdd4e0; }
.step1 .sr { background: #FFF; }
.sr-focus { position: relative; margin: 10px; width: 610px; height: 380px; overflow: hidden; }
.sr-focus-imgs { position: absolute; left: 0; top: 0; width: 9150px; }
.sr-focus-imgs li { width: 610px; height: 380px; float: left; }
.sr-focus-left, .sr-focus-right { width: 58px; height: 100px; position: absolute; top: 140px; background: url(../images/sprite.png); }
.sr-focus-left { left: 0; background-position: -160px -270px; }
.sr-focus-right { right: 0; background-position: -198px -270px; }
/* step2 */
.step2 { margin: 0 auto; }
.step2 .sl { background-color: #cdd4e0; }
.step2 .sl-icon { background-position: -80px -186px; }
.step2 .sl-num { background-position: -80px -106px; }
.step2 .sl-text { text-align: left; height: 178px; }
.step2 .sr { }
.sr-slide { width: 610px; height: 380px; overflow: hidden; margin: 10px 0 0 10px; }
.sr-q { border-radius: 2px; height: 36px; font-size: 16px; color: #003399; line-height: 36px; background-color: #6699ff; margin-bottom: 2px; display: block; cursor: pointer; }
.sr-q-hover { background-color: #99ccff; }
.sr-q-active { background-color: #99ccff; }
.sr-q-i { margin: 6px 10px 0 10px; width: 24px; height: 24px; background: url(../images/sprite.png) 0 -266px; float: left; }
.sr-q-hover .sr-q-i, .sr-q-active .sr-q-i { background: url(../images/sprite.png) -48px -266px; }
.sr-a { border-radius: 2px; height: 152px; margin-bottom: 2px; background-color: #4876d1;
 overflow: hidden; display: none; }
.sr-a-first { display: block; }
.sr-a-i { margin: 6px 10px 0 10px; width: 24px; height: 24px; background: url(../images/sprite.png) -24px -266px; float: left; }
.sr-a-t { float: left; line-height: 20px; color: #FFFFFF; padding-top: 8px; width: 550px; }
.anchor_step3 { height: 0px; display: block; overflow: hidden; }
/* step3 */
.step3-bg { height: 400px; position: relative; min-width: 1000px; margin-top: 60px; }
.step3-bg .bg1 { background: url(../images/bg_10.jpg) center 0 no-repeat; height: 400px; }
.step3 { position: absolute; top: 0; left: 50%; margin-left: -500px; }
.step3 .sl { background-image: url(../images/sl-bg.png); }
.step3 .sl-icon { background-position: -160px -186px; }
.step3 .sl-num { background-position: -160px -106px; }
.step3 .sl-text { height: 178px; }
.sr-switch { margin: 20px; width: 590px; height: 360px; overflow: hidden; }
.sr-tab { height: 30px; margin-bottom: 20px; }
.sr-tab-a { height: 30px; font-size: 14px; color: #003399; float: left; margin-right: 10px; }
.sr-tab-as { position: relative; height: 30px; }
.sr-tab-as .sr-tab-a-text { padding: 0 31px 0 1px; }
.sr-tab-rec { overflow: hidden; width: 32px; height: 16px; background: url(../images/sprite.png) -128px -290px; position: absolute; top: 7px; right: 7px; }
.sr-tab-a-lb { background: url(../images/sprite.png) -60px -290px; float: left; width: 30px; height: 30px; }
.sr-tab-a-text { max-width: 120px; float: left; height: 30px; line-height: 30px; background: #99ccff; padding: 0 1px 0 1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.sr-tab-a-rb { background: url(../images/sprite.png) -105px -290px; float: left; width: 15px; height: 30px; }
.sr-tab-a:hover, .st-tab-active { background: #3366cc; }
.sr-tab-a:hover .sr-tab-a-text, .st-tab-active .sr-tab-a-text { background: #ccffff; }
.sr-tab-a:hover .sr-tab-a-lb, .st-tab-active .sr-tab-a-lb { background-position: -60px -330px; }
.sr-tab-a:hover .sr-tab-a-rb, .st-tab-active .sr-tab-a-rb { background-position: -105px -330px; }
.sr-tab-a:hover .sr-tab-rec, .st-tab-active .sr-tab-rec { background-position: -128px -330px; }
.sr-content { position: relative; width: 590px; height: 310px; overflow: hidden; }
.sr-c-pop { background: url(../images/sr-c-pop-bg.png); height: 50px; display: block; width: 590px; left: 0; top: 260px; position: absolute; }
.sr-c-pop:hover { text-decoration: none; }
.sr-c-title { padding: 2px 0 0 10px; font-size: 16px; color: #ffffff; line-height: 24px; width: 420px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.sr-c-sub { padding: 0 0 0 10px; font-size: 12px; color: #ffffff; line-height: 24px; width: 420px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.sr-c-price { position: absolute; float: right; width: 170px; top: 0; right: 10px; text-align: right; font-family: "宋体", sans-serif; line-height: 32px; color: #ff3300; margin-top: 10px; }
.sr-c-symbol { font-size: 16px; font-family: Arial, sans-serif; }
.sr-c-num { font-size: 32px; font-family: Arial, sans-serif; }
/* footer */
.footer-bg { height: 529px; overflow: hidden; position: relative; min-width: 1000px; }
.footer-bg .bg1 { background: url(../images/bg_11.jpg) center 0 no-repeat; height: 265px; }
.footer-bg .bg2 { background: url(../images/bg_12.jpg) center 0 no-repeat; height: 132px; }
.footer-bg .bg3 { background: url(../images/bg_13.jpg) center 0 no-repeat; height: 132px; }
/* pop */
.pop-right { position: fixed; width: 90px; height: 370px; left: 50%; margin-left: 545px; top: 50%; margin-top: -185px; background: url(../images/sprite.png) -280px 0; }
.pop-right-close { width: 21px; height: 21px; display: block; }
.pop-r-a { width: 70px; height: 54px; display: block; margin: 289px 0 0 10px; }
.pop-mask { position: fixed; width: 100%; height: 100%; background: #000000; top: 0; left: 0; opacity: 0.7; z-index: 3; display: none; }
.pop-alert { position: fixed; width: 610px; height: 660px; left: 50%; margin-left: -305px; top: 50%; margin-top: -330px; background: url(../images/pop.jpg); z-index: 3; display: none; }
.pop-a-close { margin: 0 0 0 545px; width: 65px; height: 65px; display: block; }
/* ie */
.pop-mask { filter: Alpha(Opacity=70) \9; }
* html .pop-right { _position: absolute;  _left: expression(eval(document.documentElement.clientWidth/2 + document.documentElement.scrollLeft));
 _top: expression(eval(document.documentElement.clientHeight/2 + document.documentElement.scrollTop));
}
* html .pop-mask { _position: absolute;  _wdith: expression(eval(document.documentElement.clientWidth));
 _height: expression(eval(document.documentElement.clientHeight));
 _left: expression(eval(document.documentElement.scrollLeft));
 _top: expression(eval(document.documentElement.scrollTop));
}
* html .pop-alert { _position: absolute;  _left: expression(eval(document.documentElement.clientWidth/2 + document.documentElement.scrollLeft));
 _top: expression(eval(document.documentElement.clientHeight/2 + document.documentElement.scrollTop));
}
* html { _background-image: url(about:blank); _background-attachment: fixed }
.sl-btn span {  *cursor: pointer;
}
.sr-tab-a:hover, .st-tab-active { _background: #3366cc;  *text-decoration: none;
}
.sl-btn:hover { _background: #3a73e6;  *text-decoration: none;
}
.sr-c-pop {  *cursor: pointer;
}
.sr-tab-a {  *cursor: pointer;
}
